* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

html {
    color: white;
}

h1 {
    font-size: 2.3rem;
}

img {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

form input {
    padding: 2%;
}

form > * {
    padding: 2%;
    margin: 2% 0;
}
